*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.carousel-inner img{
    width: 100%;
    height: 90vh;
}
.aboutimg{
    /* border: 2px solid red; */
    width: 100%;
    height: 300px;
}
.busimg{
    width: 50px !important;
    height: 50px !important;
}