*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.carousel-item img{
    /* width: 100%;
    height: 60vh !important; */
    border: 2px solid red;
}
.aboutimg{
    /* border: 2px solid red; */
    width: 100%;
    height: 300px;
}
.busimg{
    width: 50px !important;
    height: 50px !important;
}